<table class='table table-condensed table-striped'>
<tr><th>Files</th><td style='width:100%' id='fic'></td></tr>
<tr id='status_row'><th>Status</th><td id='status'></td></tr>
<tr><th nowrap>Page views</th><td id='td_pageviews'></td></tr>
<tr><th>Namespaces</th><td><input type='checkbox' id='namespace0' /> <label style='display:inline' for='namespace0'>Show file usage in article namespace only</label></td></tr>
<tr><th>Permalink</th><td id='permalink'></td></tr>
<tr id='download_row' style='display:none'><th>Download</th><td id='download'></td></tr>
</table>
